/* 

font-family: 'Darumadrop One', sans-serif;
font-family: 'Yomogi', cursive;

#1c8ea2
#ffbd00
#ff9900
#2b9264
#ddd2ba
#fffae8
#1a1a1a

*/

li {
    color: #1a1a1a;
    font-size: 20px;
}

i {
    color: #2b9264;
}

/* サイト例ができたらこのボタンを設置する！ */
/* .plan-right button{
    display: none;
} */

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.title-container {
    width: 100%;
    height: 200px;

    display: flex;
}

.top-title {
    width: 70%;
    margin: auto;
    padding-top: 80px;

    display: flex;
    flex-direction: column;
    align-items: start;
}

.top-title h3 {
    padding-left: 5px;
}

/* plan main ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.plan-main {
    width: 100%;
    padding: 40px auto;
    background-color: #fffae8;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan-main img {
    width: 55%;
    margin-top: 18px;
}

.plans-container {
    width: 100%;
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
}

.plans-container h4 {
    font-size: 36px;
}

/* 値段と説明タイトル h5 */
.plans-container h5 {
    font-size: 22px;
    line-height: 20px;
}

.plans-container h5 span {
    font-size: 18px;
}

.plans-container ul {
    margin: 20px auto;
}

/* button */
.plans-container button {
    width: 230px;
    margin: 10% auto;
}

.f-color {
    /* color: #2b9264; */
    font-size: 24px;
    margin: 8px;
}

.acco-title-web h5 {
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.basic-plan,
.standard-plan,
.premium-plan,
.design-plan {
    width: 95%;
    max-width: 350px;

    margin: 20px auto;
    padding: 0 6%;

    border-radius: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.design-plan {
    margin: 5px auto 10px;
    padding: 0;
}

/* basic plan */
.basic-plan {
    border: 8px dashed #1c8ea2;
}

.basic-plan .plan-tx-top i {
    color: #1c8ea2;
}

/* standard plan */
.standard-plan {
    border: 8px dashed #ffbd00;
}

.standard-plan .plan-tx-top i {
    color: #ffbd00;
}

/* premium plan */
.premium-plan {
    border: 8px dashed #ff9900;
}

.premium-plan .plan-tx-top i {
    color: #ff9900;
}

/* plan-tx-top */
.plan-tx-top {
    margin-bottom: 10px;
}

.plan-tx-top li {
    font-size: 24px;
    text-wrap: nowrap;
}

.plan-tx-top li i {
    font-size: 24px;
}

/* plan-tx-btm */
.plan-tx-btm {
    padding-left: 1%;
}

/* plan-left, plan-right */
.plan-left,
.plan-right {
    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan-left img {
    width: 30%;
}

.plan-left ul li {
    text-wrap: nowrap;
}

/* can-cannot ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.can-cannot {
    width: 100%;
    max-width: 390px;
    margin: auto;
    padding: 10px 6%;
}

.Q-box {
    width: 100%;
    margin: 10px auto;
}

.Q-box p {
    font-size: 18px;
}

/* process ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.process-container {
    width: 100%;
    padding: 60px 6%;
    margin: 0 auto;
    background-color: #fffae8;
}

.process-container .sub-title p {
    margin: 0 auto;
}

.process-acco {
    width: 100%;
    max-width: 350px;
    margin: 20px auto;

    list-style: none;
}

.process-acco li {
    margin: 12px 0;
}

.process-acco section {
    border: 4px solid #2b9264;
    border-radius: 30px;
}

/*アコーディオンタイトル*/
.acco-title {
    position: relative; /*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size: 22px;
    font-weight: normal;
    padding: 3% 3% 3% 50px;
    transition: all 0.5s ease;
}

/* acco title web */
.acco-title-web {
    padding: 0;
}

.acco-title-web i {
    transform: rotate(0deg);
}

.acco-title-web.close i {
    transform: translateY(2px) rotate(180deg);
}

/*アイコンの＋と×*/
.process-container .acco-title::before,
.process-container .acco-title::after {
    width: 15px;
    height: 4px;

    position: absolute;
    content: "";

    border-radius: 50px;
    background-color: #2b9264;
}
.process-container .acco-title::before {
    top: 48%;
    left: 15px;
    transform: rotate(0deg);
}
.process-container .acco-title::after {
    top: 48%;
    left: 15px;
    transform: rotate(90deg);
}
/*　closeというクラスがついたら形状変化　*/
.process-container .acco-title.close::before {
    transform: rotate(45deg);
}

.process-container .acco-title.close::after {
    transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.process-container .acco-box {
    margin: 0 3% 3% 3%;
    padding: 3%;

    display: none; /*はじめは非表示*/
    /* background: #f3f3f3; */
    background: #d2e7de;

    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .basic-plan,
    .standard-plan,
    .premium-plan {
        max-width: 900px;
        flex-direction: row;

        padding: 3% 6%;
    }

    .can-cannot {
        max-width: 900px;
    }

    h5.f-color {
        font-size: 28px;
        margin: 8px;
    }

    /* 注意事項 */
    .Q-box {
        max-width: 800px;
    }

    .Q-box p {
        font-size: 24px;
    }

    /* process */
    .process-acco {
        max-width: 900px;
    }
}
